.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  font-weight: 400;
  font-size: 48px;
  line-height: 56.25px;
  color: white;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
