/* item */

.item {
  width: 100%
}

.item:nth-child(3) {
  margin-right: 0;
}

/* title */

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: white;
  text-align: left;
  margin-bottom: 12px;
  margin-right: 6px;
}

/* input */

.input {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--input-color);
  border: 1px solid var(--borders-color);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: var(--main-text-color);
  cursor: pointer;
}

.input_disabled {
  color: var(--second-text-color);
}

.input_active {
  border: 1px solid var(--yellow-color);
}

.input_img {
  transform: rotate(180deg);
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  margin-bottom: 12px;
}

/* list */

.list {
  position: absolute;
  top: 55px;
  display: flex;
  flex-direction: column;
  background-color: var(--list-background-color);
  width: 100%;
  display: flex;
  padding: 5%;
  margin-bottom: 12px;
  border-radius: 8px;
  z-index: 2;
  border: 1px solid var(--borders-color);
}

.list_element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  cursor: pointer;
  padding: 10px 0 10px 0
}

.list_img {
  display: block;
}

/* search */

.search_bar {
  background-color: var(--borders-color);
  padding: 4px 12px;
  border: 1px solid var(--borders-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(132, 132, 132, 1);
}

.search_input {
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  display: flex;
margin-bottom: 12px;
  flex-direction: row;
  background-color: rgba(51, 53, 53, 1);
}

.search_img {
  width: 20px;
  height: 20px;
}

/* adaptive */

@media screen and (max-width: 889px) {
  .item {
    width: 100%;
  }
}

@media screen and (min-width: 890px) and (max-width: 1140) {
  .item {
    width: 100%;
  }
}
