* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --yellow-color: rgba(251, 229, 77, 1);
  --main-text-color: rgba(255, 255, 255, 1);
  --second-text-color: rgba(132, 132, 132, 1);
  --input-color: rgba(42, 43, 49, 1);
  --button-color-disabled: rgba(45, 45, 45, 1);
  --borders-color: rgba(51, 53, 53, 1);
  --hint-background-color: rgba(65, 67, 78, 1);
  --list-background-color: rgba(36, 37, 41, 1);
  --background-color: rgba(22, 22, 22, 1);
  --error-color: rgba(231, 97, 67, 1);
  --track-color: transparent;
}


.slider_track {
  border-radius: 5px;
  top: 5px;
  left: 1px;
  height: 2px;
  background: transparent;
}
.slider_track.slider_track-0 {
  background: var(--yellow-color);
}
